.GetWiserButton {
  font-size: 1.5rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  border-style: solid;
  width: 50%;
  margin: auto;
  cursor: pointer;
}

.GetWiserButton:hover {
  background-color: #ff366a;
  border-color: transparent;
}

.GetWiserButtonSpecific {
  text-decoration: none;
  color: black;
  padding: 30%;
}
