.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.SetofSubjects {
  width: 100%;
  justify-content: space-between;
  display: flex;
  font-size: 1.5rem;
  font-family: "Courier New", Courier, monospace;
  padding-top: 10vh;
}
.SetofQuoteBtns {
  display: flex;
  margin: 0 4.5% 5% 0;
  justify-content: flex-end;
  font-size: 1.5rem;
  font-family: "Courier New", Courier, monospace;

  padding-top: 10vh;
}
